.offer {
    padding: 70px 0 100px 0;
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .bgc_y {
        position: absolute;
        width: 1109px;
        height: 780px;
        background: rgba(243, 255, 222, 0.45);
        z-index: -1;
        top: 50px;
    }
    &__text {
        width: 580px;
    }
    &__descr {
        font-size: 18px;
        margin-top: 30px;
        font-weight: 300;
        line-height: 24px;
    }
    &__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__advantages {
        width: 330px;
        margin-top: 50px;
        h2 {
            font-weight: bold;
            font-size: 20px;
            margin-top: 20px;
            &:first-child {
                margin-top: 70px;
            }
        }
        &-text {
            margin-top: 20px;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
        }
    }
    &__slider {
        width: 650px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &-counter {
            display: flex;
            width: 180px;
            align-items: center;
            font-size: 24px;
            color: rgba(0,0,0, .5);
        }
        &-wrapper {
            width: 100%;
            margin-top: 15px;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
        }
        &-prev {
            margin-right: 10px;
            cursor: pointer;
        }
        &-next {
            margin-left: 10px;
            cursor: pointer;
        }
        #current {
            font-size: 48px;
            font-weight: bold;
            color: rgba(0,0,0,1);
        }
    }
    &__slide {
        width: 100%;
        height: 390px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
    
    .dot {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 6px;
        margin-right: 3px;
        margin-left: 3px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 0.5;
        transition: opacity .6s ease;
    }
}

@media (max-width: 1400px) {
    .offer {
        &__text {
            padding-left: 5px;
        }
        &__advantages {
            padding-left: 5px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .offer {
        .bgc_y {
            width: 900px;
        }
        .title {
            font-size: 34px;
        }
        &__slider {
            width: 560px;
        }
        &__text {
            padding-left: 0px;
            width: 550px;
        }
        &__advantages {
            padding-left: 0px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .offer {
        .bgc_y {
            width: 680px;
        }
        .title {
            font-size: 28px;
        }
        &__text {
            width: 450px;
        }
        &__descr {
            font-size: 16px;
            margin-top: 20px;
        }
        &__slider {
            width: 440px;
            margin-top: 25px;
        }
        &__advantages {
            width: 270px;
            margin-top: 25px;
            h2 {
                font-size: 17px;
            }
            &-text {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .offer {
        .bgc_y {
            width: 500px;
        }
        .title {
            font-size: 21px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 10px;
        }
        &__text {
            width: 335px;
        }
        &__slider {
            width: 280px;
        }
        &__advantages {
            width: 240px;
            &-text {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .divider {
        width: 280px;
    }
    .offer {
        .container {
            display: flex;
            flex-direction: column;
        }
        .bgc_y {
            width: 270px;
        }
        .title {
            text-align: center;
        }
        &__text {
            width: 305px;
        }
        &__descr {
            text-align: justify;
            margin-left: 5px;
        }
        &__action {
           margin-top: 15px;
           margin-right: 10px;
        }
        &__advantages {
            width: 285px;
            margin-left: 5px;
            h2 {
                &:first-child {
                    margin-top: 30px;
                }
            }
        }
        &__slider {
            margin-left: 5px;
            width: 290px;
        }
    }
}
