.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 100px;
    &__left-block {
        display: flex;
        justify-content: space-between;
        min-width: 550px;
    }
    &__logo {
        max-width: 170px;
        img {
            width: 100%;
        }
    }
    &__links {
        display: flex;
        align-items: center;
    }
    &__link {
        position: relative;
        margin-right: 45px;
        font-weight: bold;
        font-size: 18px;
        color: $dark;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 110%;
            left: -5%;
            bottom: -1px;
            z-index: -1;
            height: 8px;
            background: $primary;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 1400px) {
    .header {
        padding: 0px 15px;
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 0px 15px;
    }
}

@media (max-width: 992px) {
    .btn {
        width: 200px;
        height: 55px;
    }
    .header {
        height: 120px;
        &__logo {
            max-width: 135px;
        }
        &__left {
            &-block {
                min-width: 500px;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__right {
            &-botton {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 576px) {
    .btn {
        width: 190px;
        height: 50px;
    }
    .header {
        height: 160px;
        &__logo {
            max-width: 115px;
        }
        &__link {
            margin-right: 25px;
            font-size: 17px;
        }
        &__links {
            margin: 10px 0 20px 0;
        }
        &__left {
            &-block {
                flex-direction: column;
                align-items: center;
                min-width: 280px;
            }
        }
    }
}